This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [5]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = '8WGRsNLrzdj72xjHjbvM'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [6]:
# First, import the relevant modules
import numpy as np
import requests
import json
from collections import defaultdict
import pandas as pd

In [7]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
URL_AFX_X = 'http://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json'
r = requests.get(URL_AFX_X + '?api_key=' + API_KEY +'&start_date = 2017-01-01 & end_date = 2017-12-31')

In [10]:
r.status_code

200

In [12]:
print(dict_2017['dataset_data'].keys())
#print(dict['dataset_data']['data'])
type(dict_2017['dataset_data']['data'])

dict_keys(['limit', 'transform', 'column_index', 'column_names', 'start_date', 'end_date', 'frequency', 'data', 'collapse', 'order'])

list

In [13]:
DF = pd.DataFrame(dict_2017['dataset_data']['data'], columns =  dict_2017['dataset_data']['column_names'])

In [14]:
 dict_2017['dataset_data']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [15]:
DF
print(DF)

            Date   Open   High    Low  Close  Change  Traded Volume  Turnover  \
0     2020-12-01  112.2  112.2  111.5  112.0     NaN           51.0    5703.0
1     2020-11-30  111.0  113.6  111.0  112.1     NaN          315.0   35111.5
2     2020-11-27  111.0  111.5  109.5  111.2     NaN          155.0   17168.5
3     2020-11-26  111.3  112.0  110.5  111.6     NaN          254.0   28367.5
4     2020-11-25  111.4  111.4  110.1  110.1     NaN          294.0   32435.8
...          ...    ...    ...    ...    ...     ...            ...       ...
5263  2000-06-13    NaN    NaN    NaN   45.0     NaN            0.0       NaN
5264  2000-06-12    NaN    NaN    NaN   45.0     NaN            0.0       NaN
5265  2000-06-09    NaN    NaN    NaN   45.0     NaN            0.0       NaN
5266  2000-06-08    NaN    NaN    NaN   38.0     NaN            0.0       NaN
5267  2000-06-07    NaN    NaN    NaN   38.0     NaN            0.0       NaN

     Last Price of the Day Daily Traded Units  Daily Turnover
0                     None               None             NaN
1                     None               None             NaN
2                     None               None             NaN
3                     None               None             NaN
4                     None               None             NaN
...                    ...                ...             ...
5263                  None               None             0.0
5264                  None               None             0.0
5265                  None               None             0.0
5266                  None               None             0.0
5267                  None               None             0.0

[5268 rows x 11 columns]

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [16]:
#1.Collect data from the Franfurt Stock Exchange

URL_AFX_X = 'http://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json'
r = requests.get(URL_AFX_X + '?api_key=' + API_KEY +'&start_date = 2017-01-01 & end_date = 2017-12-31')
r.status_code

200

In [17]:
#2.Convert the returned JSON object into a Python dictionary.
data_dict = r.json()
data_dict['dataset_data']['column_names']

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [20]:
DF

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2020-12-01,112.2,112.2,111.5,112.0,NaN,51.0,5703.0,None,None,NaN
1,2020-11-30,111.0,113.6,111.0,112.1,NaN,315.0,35111.5,None,None,NaN
2,2020-11-27,111.0,111.5,109.5,111.2,NaN,155.0,17168.5,None,None,NaN
3,2020-11-26,111.3,112.0,110.5,111.6,NaN,254.0,28367.5,None,None,NaN
4,2020-11-25,111.4,111.4,110.1,110.1,NaN,294.0,32435.8,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5263,2000-06-13,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
5264,2000-06-12,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
5265,2000-06-09,NaN,NaN,NaN,45.0,NaN,0.0,NaN,None,None,0.0
5266,2000-06-08,NaN,NaN,NaN,38.0,NaN,0.0,NaN,None,None,0.0
5267,2000-06-07,NaN,NaN,NaN,38.0,NaN,0.0,NaN,None,None,0.0

In [25]:
#3.Calculate what the highest and lowest opening prices were for the stock in this period.
print(DF["Open"].max())
print(DF['Open'].min())

122.1
4.2

In [23]:
#4.What was the largest change in any one day (based on High and Low price)?
print(largest_change)

14.099999999999994

In [26]:
#5 What was the largest change between any two days (based on Closing Price)?
print(DF["Close"].max() - DF["Close"].min())

119.13

In [27]:
#6 What was the average daily trading volume during this year?
print(DF["Traded Volume"].mean())

57692.61126005362

In [28]:
#(7.Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)
print(DF["Traded Volume"].median())

41556.0